flows.json
[
    {
        "id": "3e48bc537eb2d811",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfe48a3e.1b0f4",
        "type": "ui_group",
        "name": "Scheduler",
        "tab": "2936b813.6cde68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2936b813.6cde68",
        "type": "ui_tab",
        "name": "Scheduler Demo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43ed56ac5d02b3e3",
        "type": "comment",
        "z": "3e48bc537eb2d811",
        "name": "### This scenario is permanent and requires a file to read an write to ###",
        "info": "",
        "x": 360,
        "y": 4640,
        "wires": []
    },
    {
        "id": "14734ee306aaf894",
        "type": "file",
        "z": "3e48bc537eb2d811",
        "name": "WriteFile",
        "filename": "/home/debian/Documents/time-schedule0.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 4600,
        "wires": [
            []
        ]
    },
    {
        "id": "5a70b7b67b090d4c",
        "type": "inject",
        "z": "3e48bc537eb2d811",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 4620,
        "wires": [
            [
                "e8e9b4b2d3bfc0c8"
            ]
        ]
    },
    {
        "id": "e8e9b4b2d3bfc0c8",
        "type": "file in",
        "z": "3e48bc537eb2d811",
        "name": "ReadFile",
        "filename": "/home/debian/Documents/time-schedule0.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 4800,
        "wires": [
            [
                "d62652c1b58adc4d"
            ]
        ]
    },
    {
        "id": "1aedcffb24c7edc2",
        "type": "ui_switch",
        "z": "3e48bc537eb2d811",
        "name": "",
        "label": "MyDevice",
        "tooltip": "",
        "group": "bfe48a3e.1b0f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1020,
        "y": 4640,
        "wires": [
            []
        ]
    },
    {
        "id": "d62652c1b58adc4d",
        "type": "ui_time_scheduler",
        "z": "3e48bc537eb2d811",
        "group": "bfe48a3e.1b0f4",
        "name": "",
        "startDay": "0",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 250,
        "y": 4540,
        "wires": [
            [
                "14734ee306aaf894"
            ],
            [
                "1aedcffb24c7edc2"
            ]
        ]
    }
]